<ion-content>
  <div class="main">
    <div class="title">
      <h2>REGISTRO</h2>
    </div>
    <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
      <!-- Inicio Input de Nombre -->
      <div class="input-item">
        <ion-input
        class="custom"
        label="Nombre" label-placement="floating" fill="outline" placeholder="Ingresa tu nombre"
        type="text"
        formControlName="nombre"
          name="nombre"
        />
        <div
          *ngIf="formularioRegistro.get('nombre').hasError('required') && formularioRegistro.get('nombre').touched"
          class="mensaje-error"
        >
          El nombre es requerido.
        </div>
        <div
          *ngIf="formularioRegistro.get('nombre').hasError('minlength') && formularioRegistro.get('nombre').touched"
          class="mensaje-error"
        >
          El nombre debe tener 2 carácteres como mínimo
        </div>
      </div>
      <!-- Fin Input de Nombre -->

      <!-- Inicio Input de Apellido -->
      <div class="input-item">
        <ion-input
        class="custom"
        label="Apellido" label-placement="floating" fill="outline" placeholder="Ingresa tu apellido"
        type="text"
        formControlName="apellido"
          name="apellido"
        />
        <div
          *ngIf="formularioRegistro.get('apellido').hasError('required') && formularioRegistro.get('apellido').touched"
          class="mensaje-error"
        >
          El apellido es requerido.
        </div>
        <div
          *ngIf="formularioRegistro.get('apellido').hasError('minlength') && formularioRegistro.get('apellido').touched"
          class="mensaje-error"
        >
          El apellido debe tener 2 carácteres como mínimo
        </div>
      </div>
      <!-- Fin Input de Apellido -->
      <!-- Inicio Input de nickname -->
      <div class="input-item">
        <ion-input
        class="custom"
        label="Nombre de Usuario" label-placement="floating" fill="outline" placeholder="Ingresa tu nickname"
        type="text"
        formControlName="nickname"
          name="nickname"
        />
        <div
          *ngIf="formularioRegistro.get('nickname').hasError('required') && formularioRegistro.get('nickname').touched"
          class="mensaje-error"
        >
          El nickname es requerido.
        </div>
        <div
          *ngIf="formularioRegistro.get('nickname').hasError('minlength') && formularioRegistro.get('nickname').touched"
          class="mensaje-error"
        >
          El nickname debe tener 2 carácteres como mínimo
        </div>
      </div>
      <!-- Fin Input de Apellido -->

      <!-- Inicio Input de Email -->
      <div class="input-item">
        <ion-input
        class="custom"
        label="Email" label-placement="floating" fill="outline" placeholder="Ingresa tu email"
        type="email"
        formControlName="email"
          name="email"
        />
        <div
          *ngIf="formularioRegistro.get('email').hasError('required') && formularioRegistro.get('email').touched"
          class="mensaje-error"
        >
          El email es requerido.
        </div>
        <div
          *ngIf="formularioRegistro.get('email').hasError('email') && formularioRegistro.get('email').touched"
          class="mensaje-error"
        >
          Ingresa un email válido
        </div>
        
      </div>
      <!-- Fin Input de Email -->

      <!-- Inicio Input de Contraseña -->
      <div class="input-item">
        <ion-input
        class="custom"
        label="Contraseña" label-placement="floating" fill="outline" placeholder="Al menos 8 caracteres"
        type="password"
        formControlName="password"
          name="password"
        />
        <div
          *ngIf="formularioRegistro.get('password').hasError('required') && formularioRegistro.get('password').touched"
          class="mensaje-error"
        >
          La contraseña es requerida.
        </div>
        <div
          *ngIf="formularioRegistro.get('password').hasError('minlength') && formularioRegistro.get('password').touched"
          class="mensaje-error"
        >
          La contraseña debe tener 8 caracteres como mínimo
        </div>
      </div>
      <!-- Fin Input de Contraseña -->

      <!-- Inicio Input de Contraseña 2-->
      <div class="input-item">
        <ion-input
        class="custom"
        label="Confirmar Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa de nuevo tu contraseña"
        type="password"
        formControlName="confirmarPassword"
          name="password"
        />
        <div
          *ngIf="formularioRegistro.get('confirmarPassword').hasError('required') &&  formularioRegistro.get('confirmarPassword')?.touched"
          class="mensaje-error"
        >
          Este campo es requerido
        </div>
        <div
          *ngIf="formularioRegistro.errors?.['mismatch'] &&  formularioRegistro.get('confirmarPassword')?.touched"
          class="mensaje-error"
        >
          Las contraseñas no coinciden
        </div>
      </div>
      <!-- Fin Input de Contraseña 2-->

      <ion-button
        expand="block"
        type="submit"
        [disabled]="!formularioRegistro.valid"
        >Crear Cuenta</ion-button
      >
      
      
      <ion-loading #loading></ion-loading>
      <div class="enlace-login">
        <p>Ya tienes una cuenta? <span routerLink="/login" ><a href="" style="color:#c46c29; font-weight: bold;">Inicia Sesión</a></span></p>
      </div>
      
      

    </form>
  </div>
</ion-content>


<!-- <div class="formu">
  <h1 class="custom-title">Registro</h1>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="nickname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item class="file-upload">
      <ion-label position="floating">Seleccionar archivo</ion-label>
      <input type="file" (change)="selectPhoto($event)" class="custom-file-input">
      <ion-icon name="cloud-upload-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button style="width: 220px;" color="dark" expand="block" (click)="registrar()">Registrarse</ion-button>
  <ion-button style="width: 220px;" color="dark" expand="block" (click)="volver()">Volver</ion-button>
</div> -->