<ion-content [fullscreen]="true">
  <!-- Contenedor principal -->
  <div class="main" *ngIf="!emailEnviado">
    <ion-buttons slot="start" class="back-button" style="position: absolute; left: 0; top: 0">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- Título de pagina -->
    <div class="title">
      <h2>RECUPERAR CONTRASEÑA</h2>
    </div>
    <!-- Inicio del input email -->
    <form [formGroup]="formularioResetPassword" (ngSubmit)="sendResetEmail()">
      <div class="input-item">
        <label position="stacked">Email</label>
        <input
          type="email"
          formControlName="email"
          name="email"
          placeholder="ejemplo@mail.com"
        />
        <div
          *ngIf="formularioResetPassword.get('email').hasError('required') && formularioResetPassword.get('email').touched"
          class="mensaje-error"
        >
          El email es requerido.
        </div>
        <div
          *ngIf="formularioResetPassword.get('email').hasError('email') && formularioResetPassword.get('email').touched"
          class="mensaje-error"
        >
          Ingresa un email válido
        </div>
      </div>
      <ion-button
        expand="block"
        type="submit"
        [disabled]="!formularioResetPassword.valid"
        >Enviar email</ion-button
      >

      <!-- <ion-button expand="block" (click)="login()">INICIAR SESIÓN</ion-button> -->
      <ion-loading #loading></ion-loading>
    </form>

  </div>

  <div class="main" *ngIf="emailEnviado">
    <div class="title">
      <h2 style="margin-bottom: 2rem;">Correo de Verificación Enviado</h2>
      <p>Hemos enviado un email a <strong>{{email}}</strong> con las intrucciones para que cambies tu contraseña.</p>
    </div>
  
    <div class="enlace-login">
      <p>
        Ya estás listo?
        <span><a routerLink="/login" href="" (click)="this.emailEnviado = false">Inicia Sesión</a></span>
      </p>
    </div>
  </div>

    
</ion-content>
