
// ESITLOS AGREGADOS POR VERA

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  ion-content{
    --background: #f9f5ff;
    display: flex;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #f9f5ff; /* Color de fondo */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .modal-title {
    text-align: center; /* Alineación del texto */
    color: black; /* Color del texto */
    font-size: 1.5rem; /* Tamaño del texto */
    margin-bottom: 20px; /* Espaciado inferior */
  }
  
  /* Estilos para el botón de cerrar */
  .modal-button-close {
    --color: #14248a; /* Color del texto */
  }
  
  .main {
    margin: auto;
    background-color: #f9f5ff;
    min-height: 100vh;
    max-width: 375px;
    padding: 7.5rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    .title {
      color: #28262c;
      margin-bottom: 1rem;
      text-align: center;
      h2{
        font-weight: 600;
        letter-spacing: 2px;
      }
      p{
        font-size: 0.75rem;
        font-weight: 300;
      }
    }
    form {
      width: 100%;
    }
  }
  
  .input-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    input {
      background-color: white;
      color: black;
      width: 100%;
      border: 1px solid rgb(187, 187, 187);
      border-radius: 10px;
      padding: 0.75rem 0.5rem;
      font-size: 1rem;
      ::placeholder {
        font-size: 1px !important;
      }
    }
    label {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      margin-bottom: 5px;
      font-size: 0.80rem;
      color: black;
    }
  }
  
  ion-button {
    font-size: 20px;
    --background: #14248a;
    margin: 10px;
  }
  
  .enlace-login {
    font-size: 0.75rem;
    text-align: center;
    margin: 0.5rem 0;
    span {
      color: #14248a;
      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .mensaje-error {
    color: red;
    font-size: 0.75rem;
  }
  
  .redes-sociales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    div {
      padding: 0.5rem;
      border-radius: 10px;
      text-align: center;
      vertical-align: middle;
      i{
          color: white;
      }
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  
  
  .mi-nueva-clase{
    display: none;
  }