$primary: #c46c29;
$secondary: #ebe3cd;


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  background-color: $primary;
  width: clamp(50px, 100%, 600px);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  margin: auto;

  .left-half,
  .right-half {
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
  li {
    display: flex;
    flex-direction: column; /* Muestra las opciones en línea */
    cursor: pointer;
    a {
      color: white; /* Cambia el color del texto según tus preferencias */
      text-decoration: none; /* Quita el subrayado de los enlaces */
      padding: 5px 10px; /* Añade espacio interno a los enlaces */
      border-radius: 5px; /* Añade bordes redondeados a los enlaces */
      font-size: 0.75rem;
    }
  }
}

ul .middle-option {
  position: absolute;
  bottom: 3rem;
  z-index: 999;
  background-color: $primary;
  border-radius: 20px;
  padding: 0.5rem;
  opacity: 1;
  border: 5px solid rgba(235, 227, 205, 255);
}

ul li:hover {
  background-color: $primary; /* Cambia el color de fondo al pasar el ratón por encima */
}

ion-icon {
  margin: auto;
  color: white;
  font-size: 1rem;
  width: 1.25rem;
  height: 1.25rem;
}

.login-item {
  position: relative;
  margin: auto 1rem auto auto;
  background-color: $secondary;
  .login-button {
    --background: var(--secondary);
    --color: $primary;
    font-size: 0.75rem;
    ion-icon {
      color: $primary;
    }
  }
}

